@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 100px;
}

@media screen and (max-width: 1080px) {
  body {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 910px) {
  body {
    padding: 30px 5px;
  }
}

#root {
  background-color: #dbeeee;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.header-logo {
  width: 120px;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links li {
  padding: 10px;
  color: #3d9090;
  font-weight: 600;
  cursor: pointer;
}

.main {
  padding: 10px 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}

.main-left p {
  padding: 1rem 1.3rem 2rem 1rem;
  line-height: 30px;
  font-size: 16px;
}

.main-left__container {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-left__container .main-left-right {
  position: absolute;
  left: -30px;
  margin-top: 1rem;
  background: #e4d7b9;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.main-left__container .main-left-right.blue {
  background: #BDDDDD;
  border-radius: 0;
}

.main-left__container .main-left-right div {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 50px;
  line-height: 30px;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease;
  transition: transform 0.2s ease-out, opacity 0.2s ease, -webkit-transform 0.2s ease-out;
}

.main-left__container .main-left-right div h2 {
  font-size: 16px;
}

.main-left__container .main-left-right div h2 span {
  font-weight: 500;
}

.main-left__container .main-left-right div:nth-child(1) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}

.main-left__container .main-left-right div:nth-child(1).show {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
}

.main-left__container .main-left-right div:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.main-left__container .main-left-right div:nth-child(2).show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-left__container .main-left-right div:nth-child(3) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}

.main-left__container .main-left-right div:nth-child(3).show {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}

.main-left__container .main-left-img {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100px;
  overflow: hidden;
  z-index: 3;
}

.main-left__container .main-left-img img {
  width: 150px;
  left: 50%;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease;
  transition: transform 0.2s ease-out, opacity 0.2s ease, -webkit-transform 0.2s ease-out;
}

.main-left__container .main-left-img img:nth-child(1) {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.main-left__container .main-left-img img:nth-child(1).show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-left__container .main-left-img img:nth-child(2) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
}

.main-left__container .main-left-img img:nth-child(2).show {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}

.main-left__container .main-left-img img:nth-child(3) {
  width: 200px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}

.main-left__container .main-left-img img:nth-child(3).show {
  -webkit-transform: translateX(-390%);
          transform: translateX(-390%);
  opacity: 1;
}

.main-left__container .main-left-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  margin-top: 20px;
}

.main-left__container .main-left-left .container-switch {
  background: #bddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  z-index: 2;
}

.main-left__container .main-left-left .container-switch__card {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-left__container .main-left-left .container-switch__card:hover, .main-left__container .main-left-left .container-switch__card.show {
  background: #dbeeee;
}

.main-left__container .main-left-left .container-switch__card img {
  width: 25px;
}

.main-left__container .main-left-left .container-switch__card:nth-child(2) img {
  width: 50px;
}

.main-left__container .main-left-left .container-mode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.main-left__container .main-left-left .container-mode__card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-left__container .main-left-left .container-mode__card:nth-child(1) {
  background: #e5e5e5;
}

.main-left__container .main-left-left .container-mode__card:nth-child(2) {
  background: #94a6a6;
}

.main-right {
  position: relative;
  width: 50%;
  min-height: 100vh;
  background: url("./images/bg.png");
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-right__img {
  position: absolute;
  top: -60px;
  left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 360px;
  overflow: hidden;
}

.main-right__img img {
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease;
  transition: transform 0.2s ease-out, opacity 0.2s ease, -webkit-transform 0.2s ease-out;
  height: 360px;
}

.main-right__img img:nth-child(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.main-right__img img:nth-child(1).show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.main-right__img img:nth-child(2) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

.main-right__img img:nth-child(2).show {
  -webkit-transform: translateY(-155%);
          transform: translateY(-155%);
  opacity: 1;
}

.main-right__img img:nth-child(3) {
  width: 85px;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  opacity: 0;
}

.main-right__img img:nth-child(3).show {
  -webkit-transform: translateY(-205%);
          transform: translateY(-205%);
  opacity: 1;
}

.main-right.dark {
  background: url("./images/bg-dark.png");
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */